logs.log
notebooks/logs.log
notebooks/logs.log
mlruns/
venv/
__pycache__/
.ipynb_checkpoints/
*.pkl
*.csv
*.zip
venv/
__pycache__/
mlruns/
*.pkl
*.dll
*.pyd

.env
data/processed/
models/
backend/model/__pycache__/
frontend/.env
frontend/node_modules/
frontend/dist/
outputs/

